doctype html
html
	head
		// build:css css/app-all.css 
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css")
		link(rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css")
		link(rel="stylesheet" href="css/app.css")
		// endbuild 

	body