include head

nav.navbar.navbar-default
	.container
		.navbar-header
			a.navbar-brand(href="#") App Name

		#mainnav
			ul.nav.navbar-nav.navbar-right
				li
					a.btn.navbar-btn.btn-primary(href="#")
						i.fa.fa-user 
						| Login

	.jumbotron
		.container
			h1 Hello world
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia diam in dui pulvinar, in elementum nibh ultricies. Aliquam malesuada sollicitudin lorem, sed ultricies quam dapibus porttitor
			a.btn.btn-primary(href="#") Some call to action
			a.btn(href="#") Another button

	.container
		.row
			.col-sm-4
				p Sed a mattis quam. Donec venenatis consequat enim ut accumsan. Donec ac sagittis leo. Pellentesque quis nulla eget nisi mollis iaculis a quis lorem. Morbi at ligula libero. Curabitur ipsum lorem, feugiat egestas turpis sit amet, ultrices rutrum lacus. Mauris euismod risus sed suscipit facilisis. Curabitur in est elit. In hac habitasse platea dictumst. Vivamus et ante gravida, blandit orci sed, accumsan dolor. Duis cursus odio quis bibendum consectetur. Praesent feugiat pharetra arcu in vehicula. Maecenas luctus augue sed diam varius faucibus. Sed non diam quis mi vulputate tristique eget vitae nisi
			.col-sm-4
				p Sed a mattis quam. Donec venenatis consequat enim ut accumsan. Donec ac sagittis leo. Pellentesque quis nulla eget nisi mollis iaculis a quis lorem. Morbi at ligula libero. Curabitur ipsum lorem, feugiat egestas turpis sit amet, ultrices rutrum lacus. Mauris euismod risus sed suscipit facilisis. Curabitur in est elit. In hac habitasse platea dictumst. Vivamus et ante gravida, blandit orci sed, accumsan dolor. Duis cursus odio quis bibendum consectetur. Praesent feugiat pharetra arcu in vehicula. Maecenas luctus augue sed diam varius faucibus. Sed non diam quis mi vulputate tristique eget vitae nisi
			.col-sm-4
				p Sed a mattis quam. Donec venenatis consequat enim ut accumsan. Donec ac sagittis leo. Pellentesque quis nulla eget nisi mollis iaculis a quis lorem. Morbi at ligula libero. Curabitur ipsum lorem, feugiat egestas turpis sit amet, ultrices rutrum lacus. Mauris euismod risus sed suscipit facilisis. Curabitur in est elit. In hac habitasse platea dictumst. Vivamus et ante gravida, blandit orci sed, accumsan dolor. Duis cursus odio quis bibendum consectetur. Praesent feugiat pharetra arcu in vehicula. Maecenas luctus augue sed diam varius faucibus. Sed non diam quis mi vulputate tristique eget vitae nisi

include foot